
{% extends 'template.html.twig' %}

{% block title %}
Home
{% endblock %}


{% block content %}
<div class="row mx-auto mt-5">
    <div class="col-6 offset-3">
        <h1>Bienvenue sur le championnat de ski !</h1>
    </div>

    <div class="row mx-auto mt-5">
        <div class="col-4 offset-2">
            <div class="card bg-dark text-white">
                <img class="card-img fade-img" src="/home/picture/1" alt="Card image">
                <a class="card-text text-white" href="/race/form">

                <div class="card-img-overlay d-flex align-items-center overlay-hover">
                    <h2 class="card-title home-title">Créer une nouvelle épreuve</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" version="1.1" width="100" height="30" viewBox="-10 0 200 80"  xml:space="preserve">
                          <defs>
                              <linearGradient id="e" x1="40" y1="210" x2="460" y2="210" gradientUnits="userSpaceOnUse">
                                  <stop stop-color="#543ccc" offset="0" />
                                  <stop stop-color="#a32ae0" offset="1" />
                              </linearGradient>
                          </defs>
                            <polygon points="0,26.488 0,44.144 167.747,44.144 167.747,70.631 211.89,35.316 167.747,0 167.747,26.488 " fill="url(#e) "/>
                        </svg>
                </div>
                </a>

            </div>
        </div>

        <div class="col-4 offset-1">
            <div class="card bg-dark text-white">
                <img class="card-img fade-img" src="/home/picture/2" alt="Card image">
                <a class="card-text text-white" href="/race/form">

                    <div class="card-img-overlay d-flex align-items-center overlay-hover">
                        <h2 class="card-title home-title">Liste des épreuves</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" version="1.1" width="100" height="30" viewBox="-10 0 200 80"  xml:space="preserve">
                          <defs>
                              <linearGradient id="e" x1="40" y1="210" x2="460" y2="210" gradientUnits="userSpaceOnUse">
                                  <stop stop-color="#543ccc" offset="0" />
                                  <stop stop-color="#a32ae0" offset="1" />
                              </linearGradient>
                          </defs>
                            <polygon points="0,26.488 0,44.144 167.747,44.144 167.747,70.631 211.89,35.316 167.747,0 167.747,26.488 " fill="url(#e) "/>
                        </svg>
                    </div>
                </a>

            </div>
        </div>

    <div class="row mx-auto mt-5">
        <div class="col-4 offset-2">
            <div class="card bg-dark text-white">
                <img class="card-img fade-img" src="/home/picture/3" alt="Card image">
                <a class="card-text text-white" href="/participant/form">

                    <div class="card-img-overlay d-flex align-items-center overlay-hover">
                        <h2 class="card-title home-title">Ajouter des participants</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" version="1.1" width="100" height="30" viewBox="-10 0 200 80"  xml:space="preserve">
                          <defs>
                              <linearGradient id="e" x1="40" y1="210" x2="460" y2="210" gradientUnits="userSpaceOnUse">
                                  <stop stop-color="#543ccc" offset="0" />
                                  <stop stop-color="#a32ae0" offset="1" />
                              </linearGradient>
                          </defs>
                            <polygon points="0,26.488 0,44.144 167.747,44.144 167.747,70.631 211.89,35.316 167.747,0 167.747,26.488 " fill="url(#e) "/>
                        </svg>
                    </div>
                </a>

            </div>
        </div>

        <div class="col-4 offset-1">
            <div class="card bg-dark text-white">
                <img class="card-img fade-img" src="/home/picture/4" alt="Card image">
                <a class="card-text text-white" href="/race/form">

                    <div class="card-img-overlay d-flex align-items-center overlay-hover">
                        <h2 class="card-title home-title">Liste des participants</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" version="1.1" width="100" height="30" viewBox="-10 0 200 80"  xml:space="preserve">
                          <defs>
                              <linearGradient id="e" x1="40" y1="210" x2="460" y2="210" gradientUnits="userSpaceOnUse">
                                  <stop stop-color="#543ccc" offset="0" />
                                  <stop stop-color="#a32ae0" offset="1" />
                              </linearGradient>
                          </defs>
                            <polygon points="0,26.488 0,44.144 167.747,44.144 167.747,70.631 211.89,35.316 167.747,0 167.747,26.488 " fill="url(#e) "/>
                        </svg>
                    </div>
                </a>

            </div>
        </div>
    </div>

</div>
{% endblock %}


