
{% extends 'template.html.twig' %}

{% block title %}
Home
{% endblock %}


{% block content %}
<div class="row mx-auto">
    <div class="col-6 offset-3">
        <h1>Participants</h1>

         <div>    
                    <ul id="nav_menu">
                        <li><a href="participant/list">Liste des Participants</a></li>
                        <li><a href="participant/form">Créer un Participant</a></li>
                        <li><a href="participant/find">Rechercher un Participant</a></li>


                    </ul>   
            </div>

   
    </div>
</div>
{% endblock %}


