
{% extends 'template.html.twig' %}

{% block title %}
Home
{% endblock %}


{% block content %}
<div class="row mx-auto">
    <div class="col-6 offset-3">
        <h1>Epreuves</h1>
         <div>    
                    <ul id="nav_menu">
                        <li><a href="/race/list">Liste des Epreuves</a></li>
                        <li><a href="/race/form">Créer une Epreuve</a></li>
                        <li><a href="/race/find">Rechercher une Epreuve</a></li>


                    </ul>   
            </div>



    </div>
</div>
{% endblock %}


