/*******************/
/********MENU*******/
/*******************/

.logitudColor {
    background: linear-gradient(90deg, #543ccc, 50%, #a32ae0);
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 70px;
    z-index: 100;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px rgba(223, 223, 223, 0.555);
}


#nav_logitud {
    margin-right: 20px;
    padding-top: 30px;
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}

#nav_logitud a {
    font-weight: 800;
    font-size: 1rem;
    color: black;
    text-decoration: none !important;
    transition: 0.3s;
}

#nav_logitud a:hover {
    color: #543ccc;
}

#nav_logitud .contactUs {
    padding-top: -30px;
}

#logo {
    padding-left: 40px;
    height: 35px;
}

#nav_menu {
    position: fixed;
    top: 0px;
    left: 30px;
    width: 150px;
    height: 100%;
    z-index: 50;
    background-color: rgb(235, 235, 235);
}

#menu {
    padding-top: 100px;
    list-style-type: none;
    padding-inline-start: 0px;
    font-size: 1.2rem;
    width: 100%;
}

#menu li {
    padding: 10px;
    background: linear-gradient(90deg, #543ccc, #a32ae0);
}

#menu a:hover {
    color: white;
    font-size: 1.4rem;
}

#menu a {
    font-weight: bold;
    color: rgb(218, 218, 218);
    text-decoration: none !important;
    transition: 0.3s;
}

body {
    margin-top: 100px;
}


.fade-img{
    opacity: 0.8;
}

.overlay-hover{
    opacity: 0.7;
    transition: 0.3s;
    transform: scale(1);
}

.overlay-hover:hover{
    opacity: 1;
    transform: scale(1.2);
}
/*******************/
/********Display*******/
/*******************/
.active {
    display: contents;
}

.inactive {
    display: none;
}

#notParticipants {
    width: 100%;
}

#participants {
    width: 100%;
}

/*******************/
/********Results******/
/*******************/
.podium {
    width: 100%;
}

.imgParticipant {
    max-width: 50px;
    max-height: 50px;
}

.rankingList {
    position: relative;
}

.rank {
    max-width: 150px;
    max-height: 350px;
}

.card-img-top {
    min-height: 100px;
    max-height: 100px;
    object-fit: contain;
}

.rank1 {
    position: absolute;
    bottom: -30%;
    left: 38%;
}

.rank2 {
    position: absolute;
    bottom: -45%;
    left: 10%;
}

.rank3 {
    position: absolute;
    bottom: -55%;
    left: 70%;
}

.podium {
    position: absolute;
    bottom: -100%;
    left: 0%;
}

.result {

    height: 80vh;
    min-height: 650px;
}


thead {
    width: 100%;
}

.scrollbar {
    min-height: 400px;
    height: 80%;
    position: absolute;
    overflow-y: scroll;
}

#style-4::-webkit-scrollbar-track {

    background-color: #F5F5F5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


#style-4::-webkit-scrollbar {
    width: 6px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


#style-4::-webkit-scrollbar-thumb {

    background-color: #543ccc;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

}

/*******************/
/********Input file******/
/*******************/

.fileUpload {
    background: #0275d8;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    /*  margin: 1.25em auto; 20px/16px 0*/
    overflow: hidden;
     padding: 0.875em; /* 14px/16px*/
    position: relative;
    text-align: center;
    width: 120px;
    cursor: pointer;
}

.fileUpload:hover, .fileUpload:active, .fileUpload:focus {
    cursor: pointer;
    background-color: #0069d9;

}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 148px;
    height: 46px;
    cursor: pointer;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

/*******************/
/********Pagination******/
/*******************/


.pagination {
    margin-left: 45%;
}