
.active{
    display: contents;
}

.inactive{
    display: none;
}

.podium{
    width: 100%;
}

.imgParticipant{
    max-width: 50px;
    max-height: 50px;
}

.rankingList{
    position: relative;

}

.rank{
    max-width: 150px;
    max-height: 250px;

}

.rank1{
    position: absolute;
    top : 20%;
    left : 40%;

}

.rank2{
    position: absolute;
    top : 35%;
    left : 10%;

}

.rank3{
    position: absolute;
    top : 45%;
    left : 70%;

}

.podium{
    position: absolute;
    bottom : -50%;
    left : 0%;

}

.result{

    height: 80vh;
}



/********MENU*******/

.logitudColor{
    background: linear-gradient(90deg,#543ccc,50%,#a32ae0);
}

header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 70px;
    z-index: 100;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px rgba(223, 223, 223, 0.555);
}


#nav_logitud
{  
    margin-right: 20px;
    padding-top: 30px;
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}

#nav_logitud a{
    font-weight: 800;
    font-size: 1rem;
    color : black;
    text-decoration: none !important;
    transition: 0.3s;
}

#nav_logitud a:hover
{
    color:#543ccc;
}

#nav_logitud .contactUs{
    padding-top: -30px;
}

#logo{
    padding-left: 40px;
    height: 35px;
}




#nav_menu
{  
    position : fixed;
    top: 0px;
    left: 20px;
    width: 150px;
    height: 100%;
    z-index: 50;
    background-color: rgb(235, 235, 235);

   
}
#menu
{  
    padding-top : 100px;
    list-style-type: none;
    padding-inline-start: 0px;
    font-size: 1.2rem;
    width: 100%;
  
}

#menu li
{  
    padding : 10px;
    background: linear-gradient(90deg,#543ccc,50%,#a32ae0);
}

#menu a:hover
{  
    color : white;
    font-size: 1.4rem;
}

#menu a{
    font-weight: bold;
    color : rgb(218, 218, 218);
    text-decoration: none !important;
    transition: 0.3s;
}

body{
    margin-top: 100px;
}