name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: php-actions/composer@v1
      - name: Run phpunit
        run: phpunit-watcher

      - name: Run phpcs
        run: ./vendor/bin/phpcs
      - name: Run phpcbf
        run: ./vendor/bin/phpcbf
        
